* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}
.home-page-wrapper {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.hero {
    background-color: black;
}